code,
:not(pre):not(a)>.hljs {
    background-color: var(--inline-code-background-color);
    color: var(--inline-code-color);
}

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 6px;
}

.alert-heading {
    color: inherit;
    margin: 0;
    padding: 0;
}

.alert-link {
    font-weight: 700;
}

.alert-primary {
    color: #1a3047;
    background-color: #d6dfe7;
    border-color: #c6d2de;
}

.alert-primary hr {
    border-top-color: #b6c5d5;
}

.alert-primary .alert-link {
    color: #0c1722;
}

.alert-secondary {
    color: #4a4945;
    background-color: #e8e8e6;
    border-color: #b4b465;
}

.alert-secondary hr {
    border-top-color: #d3d3d0;
}

.alert-secondary .alert-link {
    color: #302f2c;
}

.alert-success {
    color: #4c6627;
    background-color: #e9f3db;
    border-color: #94b861;
}

.alert-success hr {
    border-top-color: #d5e9ba;
}

.alert-success .alert-link {
    color: #314119;
}

.alert-info {
    color: #155974;
    background-color: #d4eef9;
    border-color: #66a6c2;
}

.alert-info hr {
    border-top-color: #addef3;
}

.alert-info .alert-link {
    color: #0d3849;
}

.alert-warning {
    color: #7f401f;
    background-color: #fde5d8;
    border-color: #ce865f;
}

.alert-warning hr {
    border-top-color: #fbcab0;
}

.alert-warning .alert-link {
    color: #562b15;
}

.alert-danger {
    color: #712b29;
    background-color: #f7dddc;
    border-color: #c07471;
}

.alert-danger hr {
    border-top-color: #efbbb9;
}

.alert-danger .alert-link {
    color: #4c1d1b;
}

.alert-primary,
.alert-primary>th,
.alert-primary>td {
    background-color: #325D88;
}

.alert-secondary,
.alert-secondary>th,
.alert-secondary>td {
    background-color: #8E8C84;
}

.alert-success,
.alert-success>th,
.alert-success>td {
    background-color: #93C54B;
}

.alert-info,
.alert-info>th,
.alert-info>td {
    background-color: #29ABE0;
}

.alert-danger,
.alert-danger>th,
.alert-danger>td {
    background-color: #d9534f;
}

.alert-warning,
.alert-warning>th,
.alert-warning>td {
    background-color: #F47C3C;
}
